<!--Navbar-->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">List Province</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="modal" data-target="#myModal">Create Tour</a>
        <!-- Button trigger modal -->
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<!--hết navbar-->
<form>
  <table class="table">
    <thead>
    <tr class="table-primary">
      <th scope="col">STT</th>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      <th scope="col" style="text-align: center" colspan='3'>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let t of tours,index as i">
      <td scope="row" data-target="#myModal2">{{i+1}}</td>
      <td>{{t.title}}</td>
      <td>{{t.price}}</td>
      <td>
        <button class="btn btn-danger" (click)="deleteTour(t.id)">Delete</button>
      </td>
      <td>
        <button class="btn btn-warning" (click)="display1(t.id)" data-toggle="modal" data-target="#myModal2">Detail</button>
      </td>
      <td>
        <button class="btn btn-primary" (click)="display(t.id)" data-toggle="modal" data-target="#myModal1">Edit</button>
      </td>
    </tr>
    </tbody>
  </table>
</form>


<!-- The Modal Create -->
<form [formGroup]="tourForm" (ngSubmit)="createTour()">
  <div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Create Tour</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <label>Name</label>
          <input type="text" id="title" class="form-control" formControlName="title">
          <label>Price</label>
          <input type="text" id="price" class="form-control" formControlName="price">
          <label>Description</label>
          <input type="text" id="description" class="form-control" formControlName="description">
        </div>
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          <button class="btn btn-success">Create</button>
        </div>

      </div>
    </div>
  </div>
</form>


<!-- The Modal Update -->
<form [formGroup]="tourFormUpdate" (ngSubmit)="updateProvince()">
  <div class="modal" id="myModal1">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Update Tour</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <label>Name</label>
          <input type="text" class="form-control" formControlName="title">
          <label>Price</label>
          <input type="text" class="form-control" formControlName="price">
          <label>Description</label>
          <textarea type="text" class="form-control" formControlName="description"></textarea>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          <button class="btn btn-success">Update</button>
        </div>

      </div>
    </div>
  </div>
</form>



<!-- The Modal Detail -->
<form [formGroup]="tourFormDetail">
  <div class="modal" id="myModal2">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Detail Tour</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <label>Name</label>
          <input type="text" class="form-control" formControlName="title" readonly>
          <label>Price</label>
          <input type="text" class="form-control" formControlName="price" readonly>
          <label>Description</label>
          <textarea type="text" class="form-control" formControlName="description" readonly></textarea>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>

      </div>
    </div>
  </div>
</form>
